section{
	width: 70%;
	.countdown{
		flex-direction:row;
		justify-content: space-around;
		.count{
			width: 70%;
		}
		&>div{
			width: 30%;
			margin: 0 auto;
		}
	}
}
.earthSprite{
	left: 50px;
	top: 350px;
}