@import '_backgroundAnimation.scss';
body{
	background: url('../../src/img/space_backgound.png');
	background-size: cover;
	height: 100%;
	bottom: 0;
	overflow-x: hidden;
}



section{
	width: 80%;
	margin: 50px auto;
	.headings{
		margin-bottom: 20px;
		padding: 15px;
		word-break: break-word;
		text-align: center;
		background-color: $yellow;
		border: 5px solid $black;
		box-shadow: inset 5px 5px $orange;

		h1{
			font-size: 2em;
			text-shadow: 2px 2px $blue, 4px 4px $orange;
		}
		h2{
			margin-top: 15px;
			font-size: 1.3em;
			text-shadow: 2px 2px $orange;
		}
		#version{
			padding-top: 20px;
			color: white;
			font-size: .8em;
		}
	}
	.countdown{
		background-color: $blue;
		box-shadow: inset 5px 5px $dark_blue;
		margin: 0 auto;
		width: auto;
		padding: 40px;
		display: flex;
		flex-direction: column;
		border: 5px solid $black;
		text-shadow: 2px 2px $dark_blue;
		h2{
			color: white;
			position: absolute;
		}
		.count{
			padding: 15px;
			text-align: center;
			background-color: $black;
			color: white;
			font-size: 2em;
			text-shadow: 3px 3px $grey;
			box-shadow: inset 5px 5px black;
		}
		div{
			padding-top: 40px;
			p{
			padding-bottom: 10px;
			}
		}
	}
}

.progressBar{
	background-color: $blue;
	box-shadow: inset 5px 5px $orange;
	border: 5px solid $black;
	text-shadow: 2px 2px $dark_blue;
	padding: 20px;
	margin: 20px 0;
	background-color: $yellow;
	h2, p{
		padding: 10px 0;
	}
	h2{
		text-align: center;
	}
	.bar{
		background-color: $black;
		height: 30px;
		width: 100%;
		border: 5px solid $black;
		box-shadow: inset 5px 5px black;
		.progress{
			background-color: $blue;
			height: 100%;
		}
	}
}

.audio{
	#song{
		position: absolute;
		top: 10px;
		left: 10px;
		height: 64px;
		width: 64px;
		background-color: transparent;
		border: none;
		background-color: white;
		background: url('../img/UI_sprite.png') no-repeat;
		background-position: bottom -64px left -448px;
		&:hover{
			cursor: pointer;
		}
	}
}